.alert.parsley {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 10px 15px 10px 15px;
 }

 .check .alert {
    margin-top: 20px;
 }

 .credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
 }

 .credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
 }

 .credit-card-box .display-tr {
    display: table-row;
 }